@font-face {
    
    src: url(fonts/Roboto-Black.ttf);
    font-family: Roboto-Black;
}
@font-face {
    
    src: url(fonts/DancingScript-Medium.ttf);
    font-family: Dancing Script;
}
@font-face {
    
    src: url(fonts/Jersey20Charted-Regular.ttf);
    font-family: Jersey;
}


h1{
    font-family:Roboto-Black;
}
p{
    font-family: Dancing Script;
}

h1
{
    /* border-style: solid;
    border-width: 3px;
    border-color:hsl(327, 80%, 63%); */
    border-radius:15px;
    border:3px solid hsl(327, 80%, 63%);
}

p
{
    border-bottom: 3px solid hsl(204, 75%, 57%);
    border-top: 3px solid hsl(350, 65%, 56%);
    border-right: 3px solid hsl(133, 86%, 61%);
    border-right: 3px solid hsl(29, 93%, 54%);
}

h1
{
    text-shadow: 3px 4px 4px hsl(350, 69%, 60%),-3px -4px 4px hsl(36, 84%, 48%);
}
#box 
{
    width:100px;
    height: 100px;
    background-color: antiquewhite;
    box-shadow: 3px 3px 5px ;
}
body
{
    margin:0px;
}

.box
{
    border:5px solid;
    font-size: 5em;
    width: 250px;
    height:250px;
    margin:auto;
    
}
#box1
{
    background-color: cadetblue;
    
   
}
#box2
{
    background-color: lightcoral;
   
}
body
{
    border:3px solid;
    display:flow-root;
}
#img1
{
    float: left;
    margin-right:10px;
}
#img2
{
    float:right;
    margin-right:10px;
    margin-bottom:40px;
}
div
{
  border:2px solid;
  height:80px;
  overflow: scroll;

}
div{
    background-color: blue;
    width:100px;
    height: 100px;
    display:inline-block;
    visibility: hidden;
}
span{
    background-color: palevioletred;
    width:100px;
    height: 100px;
    display:inline-block;
    visibility: hidden;
}
* {
    box-sizing: border-box;
}

.box {
    background-color: aliceblue;
    border: 2px solid;
    padding: 25px;
    text-align: center;
    height: auto;
    width: 50%;
    float: left;
    min-height: 75%;

}

.container {
    background-color: deeppink;
    height: 100vh;
}

#box1 {
    width: 200px;
    height: 200px;
    background-color: hsl(193, 66%, 61%);
    position: sticky;
    top: 0px;
    left: 50px;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: hsl(0, 83%, 48%);
    position: absolute;
    top: 50px;
    left: 50px;
}

body {

    background-image: url(/images/bg_small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#container {
    border: 2px solid;
}

#container+p {
    background-color: chartreuse;
}
a:link{
    color:rgb(236, 189, 89)
}
a:hover{
    color:brown;
    font-size: 1.1em;
}
a:active{
    color:palevioletred;
    font-size: 1.1em;
}
a:visited{
    color:green;
}
li:hover{
    background-color: purple;
}
li:not(:hover){
    background-color: aqua;
}
li:nth-child(3n+2){
    background-color: rgb(235, 73, 106);
}
#greet p{
    background-color: hsl(180, 87%, 64%);
    padding:10px;
    display: none;
}

#greet:hover p{
    display:block;
}
h1::first-letter
{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: rgb(238, 204, 67);
}

p::selection{
    color:lightcoral;
    background-color: pink;
}

/* #fruits li::before
{
  

} */
#apple::after
{
    content: "🍎";

}
#banana::after
{
    content: "🍌";

}
#strawberry::after
{
    content: "🍓";

}
#fruits li::marker{
    content:"✅";
    color:rgb(110, 68, 38);
    font-size: 2;

}
h1{
    color:pink;
    background-color: crimson;
}
.pagination{
    text-align: center;
}
.pagination a{
    color:black;
    text-decoration: none;
    padding:8px 15px;
    display: inline-block;

}
.pagination a.active{
    background-color: violet;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid blue
}
.pagination a:hover:not(.active)
{
    background-color: rgb(146, 146, 236);
    border-radius: 10px;
    
}
.dropdown{
    display: inline;
}
.dropdown button{
    background-color: rgb(104, 163, 173);
    color: hsla(212, 62%, 19%, 0.568);
    padding:5px 10px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor:pointer
}

.dropdown a
{
    display: block;
    text-decoration: none;
    color:black;
    padding:4px 8px;
}

.dropdown .content{
    display:none;
    position: absolute;
    background-color: hsla(209, 83%, 68%, 0.979);
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.815);
    min-width:150px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: blue;
}
.dropdown a:hover{
    background-color: lightblue;
    
}
body{
    margin:0px;
}
main{
    margin-left:20px;
    margin-right:20px;
}
h1{
    text-align:center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 9%, 11%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}
.navbar a{
    text-decoration: none;
    color:whitesmoke;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background: rgb(83, 82, 82);
}
.navbar li {
    float:left;
}
#video
{
    padding: 20px ;
    
    
}
*{
    box-sizing: border-box;
}
body{
    margin:0px;
  
}
header{
    background-color: hsl(84, 95%, 62%);
    text-align: center;
    padding: 25px;
}
#img{
    size: 100px;
    height:120px;
}
.navbar{
    background-color: hsl(120, 95%, 26%);
    height: 50px;
}
aside{
    width:40%;
    float:right;
    

}
section{
    width: 40%;
    float:right;
    
    
}
article{
    width: 20%;
    float:right;
    
   
}
footer{
    background-color: hsl(84, 95%, 62%);
    text-align: center;
    padding: 25px;
    display:block;
    clear:both;

}
@media screen and (max-width:600px) 
{
    aside,section,article{
        width:100px;
    }    
}
.gallery
{
    display:inline-block;
    border:1px solid blue;
    margin:5px;
    width:200px;

}

.gallery .description{
    padding:10px;
    text-align: center;
}

.gallery:hover{
    border:2px solid greenyellow;
}

.gallery img{
    width:100%;
    height:auto;
}
.icons{
    text-align: center;
}
.container
{
    display:flex;
    border:10px solid black;
    height: 90vh;

    
}
.box
{
    width:150px;
    height:150px;
    font-size:8em;
    text-align: center;
    border-radius:15px;
    
}
#box1{
   
    background-color: rgb(235, 81, 81);
   order:1;
}
#box2{
    background-color: rgb(218, 241, 83);
    order:1;
}
#box3{
    background-color: rgb(81, 235, 89);
}
#box4{
    background-color: rgb(81, 166, 235);
}